<div class="row flex-center no-gutters py-0">
  <mat-card class="col-6 col-lg-4 pt-0">

    <mat-toolbar class="mb-2" color="primary">
      <span>Login</span>
    </mat-toolbar>

    <form class="row flex-column px-3" (ngSubmit)="login(credentials)">
      <mat-form-field class="col-12">
        <input matInput type="text" placeholder="Username" name="username" [(ngModel)]="credentials.username">
      </mat-form-field>

      <mat-form-field class="col-12">
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password" [(ngModel)]="credentials.password">
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="col-12">
        <button mat-raised-button type="submit" class="w-100">Login</button>
      </div>
    </form>

  </mat-card>
</div>
